.radioCheckboxClass {
  width: 134px;
  position: relative;
  display: flex;
  align-items: center;

  input {
    width: 50%;
    height: 21px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
  }

  input:checked ~ span{
      background-color: var(--primary);

    label {
      color: var(--primary);
    }
  }

  input:checked ~ label {
    color: var(--primary);
  }

  label {
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    margin-left: 35px;
  }

  span {
    position: absolute;
    height: 21px;
    width: 21px;
    border: 2px solid black;
    border-radius: 50%;
  }
}

.radioCheckboxClass:hover {
  input ~ span {
    border: 2px, solid, var(--primary);
    box-shadow: 0 0 5px 5px rgba(103, 91, 241, 0.3);
  }
}
