.todo-item {
    width: calc(25% - 75px / 4);
    height: 150px;
    border-radius: 10px;
    border: 2px solid var(--primary);
    padding: 15px;

    .todo-item__title {
        font-weight: bold;
    }

    .todo-item__creator {

    }

    .todo-item__status {
        font-weight: bold;
    }

    .todo-item__status--new {
        color: var(--new);
    }
    .todo-item__status--doing {
        color: var(--doing);
    }
    .todo-item__status--done {
        color: var(--primary);
    }

    .todo-item__line-break {
        height: 2px;
        background-color: var(--primary);
    }

    div.todo-item__description {
        margin: 0;
    }
    .todo-item__description > p:first-child {
        font-weight: bold;
    }

    .todo-item__description > p:last-child {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

}