.sidebar {
  position: absolute;
  width: 150px;
  height: calc(100vh - 100px);
  background-color: #f88f14;

  .sidebar__item {
    height: 40px;
    width: 100%;
    border-bottom: 2px solid white;

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 24px;
        color: white;
      }
    }
  }
}
