.detail-form {
  .radios-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
  }

  .buttons-block {
    display: flex;
    width: 324px;
    justify-content: space-between;
  }
}
