* {
  box-sizing: border-box;
}

:root {
  --primary: #675bf1;
  --new: #04be00;
  --doing: #f88f14;
}

a,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

p {
  font-size: 14px;
  line-height: 18px;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  color: black;
}
