.footer {
  position: absolute;
  bottom: 15px;
  left: 50vw;
  display: flex;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 10px;
  align-items: center;
  overflow: hidden;
  margin: 0 !important;

  div {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    color: var(--primary);
    border-right: 1px solid var(--primary);
  }

  div:first-child {
    font-size: 30px;
    padding-bottom: 8px;
  }

  div:last-child {
    border-right: none;
    font-size: 30px;
    padding-bottom: 8px;
  }
  .footer__page--active {
    color: white !important;
    background-color: var(--primary);
  }
}

.body .footer div.footer__page {
  margin: 0;
}